<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %} Shorten Any Url {% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="http://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
    <style>
    body {
        background-color: #101e19;
        }
    </style>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        {% block content %}
        {% endblock content %}
    </main>
</div>
</body>
</html>